
		.split {
		  	height: 70%;
		  	width:100%;
		  	position: fixed;
		 	margin: 50px;
		  	padding-top: 10px;
		  	border: solid black;
		  	border-width: 2px;
		}

		/* Control the left side */
		.left {
		 width:30%;
		  left: 0;
		  background-color: brown;
		}

		/* Control the right side */
		.right {
			right: 0;
			width: 70%;
			background-color: white;
		}

		.centered
		{
			padding-left: 20px;
		}
		a
		{
			text-decoration:none;
			color: white;
		}
		text,label
		{
			color: white;
		}
		.leftbox
		{
			float: left;
			border: solid black;
			border-width: 2px;
			width: 270px;
			height: 150px;
			margin-left: 20px;
			background-color: #FFA500;
		}
		.middlebox
		{
			float: left;
			border: solid black;
			border-width: 2px;
			width: 270px;
			height: 150px;
			margin-left: 25px;
			background-color: #9370DB;
		}
		.rightbox
		{
			float: right;
			border: solid black;
			border-width: 2px;
			width: 270px;
			height: 150px;
			margin-right:40px;
			background-color: #FFB6C1;
		}
	